In [1]:
#Integer Variable Declaration
x = 100
type(x)

int

In [2]:
# Printing Values
print(x*2)

200

In [3]:
#String Variable Declaration
name = "Nidhi"
type(name)

str

In [7]:
## List Declaration, can be of different data type
## List is mutable
list_ex = [1, "F", 5]
type(list_ex)

list

In [9]:
## We can update value of List item
list_ex[0] = 4
print(list_ex)

[4, 'F', 5]

In [8]:
## To get the list values
print(list_ex[2])

5

In [11]:
## Tuple variable declaration
## Tuples are immutable
## Multi data types allowed
tuple_ex = (1,2,"d")
type(tuple_ex)

tuple

In [12]:
## Since immutable, hence will fail
tuple_ex[0] = 2

TypeError: 'tuple' object does not support item assignment

In [17]:
## File Pointers
## When we need to perform operations on file, we can assign to variable and reuse it.

v_file = open('PythonBasics.ipynb', 'r')
type(v_file)

_io.TextIOWrapper

In [18]:
## Ways to Assign values to variables
## Number of variabeles and value must match

(a,b,c) = (2,3,4)
print(a)

2

In [19]:
f=d=s=e=w=400
print(w)

400

In [20]:
#Rules to name variables
#### Variable name must begin with alphabet or underscore
#### We can not have any special char except underscore
#### Case sensitive

In [21]:
##Operators in Python

# Operations on Integer Variable

## Addition

In [22]:
x = 4
y = 7
v_add = x + y
print(v_add
)

11

## Subtraction

In [23]:
x = 4
y = 7
v_sub = x - y
print(v_sub)

-3

## Divide

In [24]:
x = 4
y = 7
v_div = x / y
print(v_div)

0.5714285714285714

## Multiply

In [25]:
x = 4
y = 7
v_mul = x + y
print(v_mul)

11

## Division with Roundup

In [26]:
x = 4
y = 7
v_rdiv = x // y
print(v_rdiv)

0

# String Operations

## Iterating thru string values

In [27]:
str1 = "Hello! You are learning Python"

In [29]:
## Printing the alphabet at 5th position.
## Index starts from 0, hence n-1 is the position
## SPace is also counted 
print(str1[7])

Y

In [30]:
## Getting a sub string with range
a = 4
b = 20
print(str1[4:20])

o! You are learn

## Concatenation of Strings

In [31]:
str1 = "Tum se mil ke"

In [37]:
str2 = "aisa laga, tumese mil ke"

In [38]:
print(str1 + " " + str2)

Tum se mil ke aisa laga, tumese mil ke